<!doctype html>
<title>Hello from Flask</title>
{% if cc %}
<pre>{{cc}}</pre>
{%endif%}
{{time}} {{name}}

<div class="app" width='100%'>

  <div style="display:inline-block;background:rgb(250, 19, 50);">

    <ul>
      <h1>userlist</h1>
      {% for user in userlist%}
      <li>ID: {{ user}}  
        <ul>
          {% for x in userlist[user] %}
           <li> {{x}}: {{userlist[user][x] }}</li>
          {%endfor%}
        </ul>
      </li>
      {% endfor %}
    </ul>



  </div>

  <div style="display:inline-block;background:#0f0;margin-left:50px;">
    <ul>
      <h1>global_channels_List</h1>
      {% for c in global_channels_List -%}
      <li>ID: {{ c}} ------- {{global_channels_List[c]}}</li>
      {% if needAlert_userList[c] %}
      <ul>
        {% for qq in needAlert_userList[c] %}
        <li> {{qq}} -------
          {% for user in global_QQ_UserID%}
          {% if global_QQ_UserID[user] == qq  %}
          {{ user}}
          {%endif%}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {%endif%}
      {%- endfor %}
    </ul>

  </div>
</div>